<h1>ユーザー一覧</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>プロフィール画像</th>
      <th>紹介文</th>
      <th></th>
    </tr>
  </thead>
  <% @user.each do |user| %>
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(user.id) do %>
          <%= user.name %>
        <% end %>
      </td>
      <td><%= image_tag user.get_image(100,100) %></td>
      <td><%= user.introduction %></td>
      <td>
        <% if user == current_user %>
          <%= link_to edit_user_path(user.id) do %>
          <button type="button" class="btn btn-outline-secondary">
            <i class="fa-solid fa-user-gear"></i>
          </button>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>