<h1>投稿一覧</h1>

<%= render "form" %>
<%= render "info" %>

<table>
    <thead>
      <tr>
        <th>投稿者</th>
        <th>プロフィール画像</th>
        <th>本のタイトル</th>
        <th>感想</th>
      </tr>
    </thear>
    <% @book.each do |book| %>
     <tbody>
       <tr>
         <th><%= book.user.name %></th>
         <th><%= image_tag book.user.get_image(100,100) %></th>
         <th><%= book.title %></th>
         <th><%= book.body %></th>
       </tr>
     </tbody>
    <% end %>
</table>