<h1>Book detail</h1>

<div class = "container">
<div class = "row">
  <div class = "col-md-9">
  <table>
    <thead>
      <tr>
        <th>投稿ユーザー</th>
        <th>タイトル</th>
        <th>感想</th>
        <% if @book.user == current_user %>
          <th></th>
          <th></th>
        <% end %>
        <th>コメント</th>
        <th>いいね</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@book.user.id) do %>
            <%= image_tag @book.user.get_image(100,100) %>
            <br>
            <%= @book.user.name %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(@book.id) do %>
            <%= @book.title %>
          <% end %>
        </td>
        <td><%= @book.body %></td>
        <% if @book.user == current_user %>
          <td>
            <%= link_to book_path(@book.id) ,method: :delete do %>
              <button type="button" class="btn btn-danger">削除</button>
            <% end %>
          </td>
          <td>
            <%= link_to edit_book_path(@book.id) do %>
              <button type="button" class="btn btn-info">編集</button>
            <% end %>
          </td>
        <% end %>
        <td>
          <div>
            <p>コメント件数：<%= @book.book_comments.count %></p>
            <% @book.book_comments.each do |book_comment| %>
              <p><%= book_comment.user.name %></p>
              <%= book_comment.created_at.strftime("%Y/%m/%d") %>
              <%= book_comment.comment %>
              <% if book_comment.user == current_user %>
                <%= link_to "編集" , edit_book_book_comment_path(book_comment.book, book_comment) %>
                <%= link_to "削除" , book_book_comment_path(book_comment.book, book_comment), method: :delete %>
              <% end %>
            <% end %>
          </div>
        </td>
        <td>
          <% if @book.favorited_by?(current_user) %>
            <p>
              <%= link_to book_book_favorite_path(@book), method: :delete do %>
                <i class="fa-solid fa-heart"></i>
                <%= @book.book_favorites.count %>
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to book_book_favorite_path(@book), method: :post do %>
                <i class="fa-regular fa-heart"></i>
                <%= @book.book_favorites.count %>
              <% end %>
            </p>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class = "col-md-3">
    <h2>新規コメント</h2>
    <%= form_with model: [@book, @book_comment] do |f| %>
      <%= f.text_area :comment, rows: "5", placeholder: "コメントをここに" %>
      <%= f.submit "投稿" %>
    <% end %>
  </div>

</div>
</div>